<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>NSCameraUsageDescription</key>
	<string>Vittora uses the camera to scan receipts and attach them to your transactions.</string>
	<key>NSContactsUsageDescription</key>
	<string>Vittora uses contacts to help you link people and businesses to payees and debt records.</string>
	<key>NSFaceIDUsageDescription</key>
	<string>Face ID is used to unlock your private financial data on this device.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Vittora uses your photo library so you can attach receipt images to transactions.</string>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.enerjiktech.vittora.recurring-generation</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
</dict>
</plist>
